.navbar-theme {
  background-color: var(--nav-bg-color);
}
.navbar-theme .navbar-brand {
  color: var(--nav-color);
}
.dropdown-userAvatar {
  background-color: #ffffff;
  border-radius: 50%;
}
.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: -45%;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu--translate {
  transform: translateX(-60%);
}
