.custom-select-container {
  font-size: 1.125rem;
  /* display: flex;
    flex-direction: column; */
  border-radius: 5px;
  margin: 0 0 10px 0;
  position: relative;
}

.custom-select-field,
.custom-select-items {
  background-color: var(--list-item-bg);
  border-radius: 5px;
  padding: 5px;
  line-height: 1.5rem;
  height: 2rem;
  cursor: pointer;
}
.custom-select-items {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 2;
  margin-top: 5px;
  padding: 0;
  height: auto;
}
/* .custom-select-item {
  padding: 5px 0;
} */

.select-icon--down::after {
  content: url('../../../img/select-arrow-down.svg');
  margin-left: 2rem;
}
.select-icon--up::after {
  content: url('../../../img/select-arrow-up.svg');
  margin-left: 2rem;
}

.select-label {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
  width: 100%;
  cursor: pointer;
}
.select-label:hover {
  background-color: var(--table-container-bg);
}
.select-input {
  display: none;
}
.hide {
  display: none;
}
