/* VARS */
:root {
  --nav-bg-color: #0067a3;
  --nav-color: #ffffff;
  --container-main-bg: #0079bf;
  --table-container-bg: #ebecf0;
  --list-item-bg: #ffffff;

  /*button color*/
  --task-add-cl: #5e6c84;
  --task-add-hover-bg: #ffffff;
  --task-submit-bg: #0079bf;

  /* custom scroll */
  --scroll-thumb-bg: #cbcbcb;
  --scroll-track-bg: #ffffff;
  
  --modal-bg: #ffffff;
  
  --footer-color: #ffffff;
  --nav-bg: #0067a3;
}

.outline-none {
  outline-style: none;
}
