.table-container {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  background-color: var(--table-container-bg);
  border-radius: 10px;
  padding: 1rem;
}
.task-item {
  list-style: none;
  background-color: var(--list-item-bg);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}
.task-item--new {
  outline: none;
  border: none;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.task-group {
  padding-left: 0;
  margin-bottom: 0;
}
.task-add,
.task-submit {
  padding: 0;
  border: none;
  width: 7.5rem;
  border-radius: 5px;
  color: var(--task-add-cl);
  background-color: transparent;
  transition: all 0.3s ease;
  position: relative;
}
.task-submit:hover {
  background-color: var(--task-submit-bg);
  color: #ffffff;
}
.task-add:hover {
  background-color: var(--task-add-hover-bg);
}
.task-add::before {
  content: url('../../../img/plus.svg');
  display: inline;
  position: absolute;
  left: 5px;
}

.hide {
  display: none;
}

/*  Select */
/* .custom-select {
  position: relative;
}
.task-select {
  display: none;
}
.task-option {
  outline: 0;
  border: 2px solid red;
  height: 100px;
} */
