.table-wrapper {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 0;
  width: 280px;
  font-size: 1.125rem;
  background-color: var(--table-container-bg);
  border-radius: 10px;
  padding: 1rem;
  padding-right: 0;
}

.table-wrapper:nth-child(2) {
  left: 300px;
}
.table-wrapper:nth-child(3) {
  left: 600px;
}
.table-wrapper:nth-child(4) {
  left: 900px;
}
.table-container {
  max-height: 65vh;
  overflow-y: auto;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  margin-right: -5px;
  width: 12px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--scroll-cl);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.task-item {
  list-style: none;
  background-color: var(--list-item-bg);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  word-break: break-all;
}
.task-item--new {
  outline: none;
  border: none;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  width: 100%;
}
.task-group {
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 1rem;
}
/* .task-group::-webkit-scrollbar {
  display: none;
} */
.task-add,
.task-submit {
  padding: 0;
  border: none;
  width: 7.5rem;
  border-radius: 5px;
  color: var(--task-add-cl);
  background-color: transparent;
  transition: all 0.3s ease;
  position: relative;
}
.task-submit:hover {
  background-color: var(--task-submit-bg);
  color: #ffffff;
}
.task-add:hover {
  background-color: var(--task-add-hover-bg);
}
.task-add::before {
  content: url('../../../img/plus.svg');
  display: inline;
  position: absolute;
  left: 5px;
}

.hide {
  display: none;
}
