@import 'bootstrap/dist/css/bootstrap.min.css';
@import './settings';
@import './components/kanban-table';
@import './components/navigation';
@import './components/container';
@import './components/custom-select';

body {
  background-color: var(--container-main-bg);
}
#root {
  height: 100vh;
}

@media (max-width: 1230px) {
  #root {
    height: unset;
  }
}
